{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="container-fluid">
        <!-- Content Row -->
        <div class="row">

            {% for meme in memes %}
                {% set voted = "none" %}
                {% for upvote in meme.upvotes %}
                    {% if upvote.createdBy is same as(user) %}
                        {% set voted = "yes" %}
                    {% endif %}

                {% endfor %}
                <div class="col-lg-3 mb-4">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary"><a
                                        href="{{ url('meme_view', {id: meme.id}) }}">#{{ meme.id }}</a></h6>
                        </div>
                        <a href="{{ url('meme_view', {id: meme.id}) }}">
                            <img src="{{ meme.image }}" alt="Meme image" class="img-fluid">
                        </a>

                        <div class="card-body">
                            <p class="text-muted small">
                                {{ meme.caption }}
                            </p>
                            <div class="btn-group w-100" role="group" aria-label="Vote for this meme" data-voteblock="{{ meme.id }}">
                                <button type="button" data-action="up" class="btn btn-success {% if voted == 'upvote' %} active{% elseif voted == 'downvote' %} disabled{% endif %}"><i class="fa fa-thumbs-up"></i></button>
                                <button type="button" class="btn btn-secondary count" disabled>{{ meme.upvotes.count }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% if memes|length == 0 %}
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h3>No memes found.</h3>
                            <a href="{{ url('meme_add') }}" class="btn btn-primary">Upload new</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script>

        $("div[data-voteblock] button").click(function () {
            let parent = $(this).parent();
            let id = parent.data('voteblock');

            let url = "{{ url('meme_vote', {id: "id_replace"}) }}";
            url = url.replace('id_replace', id);

            let $upvote_btn = $(this);

            parent.find('.count').html('<i class="fas fa-spinner fa-spin"></i>  ');

            $.ajax(url, {
                method: 'POST',
                dataType: 'JSON',
                success: function (data) {
                    if(data.status === true) {
                        if(data.revoke === true) {
                            $upvote_btn.removeClass('active');
                        } else {
                            $upvote_btn.addClass('active');
                        }
                        parent.find('.count').html(data.count);
                    }
                }
            });
        });
    </script>
{% endblock %}